# Introduction to Data Science – Relational Databases Exercise
*COMP 5360 / MATH 4100, University of Utah, http://datasciencecourse.net/*

In [1]:
import pandas as pd
import sqlite3 as sq

# we connect to the database, which - in the case of sqlite - is a local file
conn = sq.connect("./chinook.db")

### Exercise 1: Simple Queries

1. List all the rows in the genres table.
2. List only the genre names (nothing else) in the table.
3. List the genre names ordered by name.
4. List the genre entries with IDs between 13 and 17.
5. List the genre entries that start with an S.
6. List the GenreIds of Rock, Jazz, and Reggae (in one query).

1. List all the rows in the genres table.

In [4]:
c = conn.cursor()
c.execute("SELECT * FROM genres")
print(c.fetchall())

[(1, 'Rock'), (2, 'Jazz'), (3, 'Metal'), (4, 'Alternative & Punk'), (5, 'Rock And Roll'), (6, 'Blues'), (7, 'Latin'), (8, 'Reggae'), (9, 'Pop'), (10, 'Soundtrack'), (11, 'Bossa Nova'), (12, 'Easy Listening'), (13, 'Heavy Metal'), (14, 'R&B/Soul'), (15, 'Electronica/Dance'), (16, 'World'), (17, 'Hip Hop/Rap'), (18, 'Science Fiction'), (19, 'TV Shows'), (20, 'Sci Fi & Fantasy'), (21, 'Drama'), (22, 'Comedy'), (23, 'Alternative'), (24, 'Classical'), (25, 'Opera')]

2. List only the genre names (nothing else) in the table.

In [7]:
c.execute('SELECT Name FROM genres')
print(c.fetchall())

[('Rock',), ('Jazz',), ('Metal',), ('Alternative & Punk',), ('Rock And Roll',), ('Blues',), ('Latin',), ('Reggae',), ('Pop',), ('Soundtrack',), ('Bossa Nova',), ('Easy Listening',), ('Heavy Metal',), ('R&B/Soul',), ('Electronica/Dance',), ('World',), ('Hip Hop/Rap',), ('Science Fiction',), ('TV Shows',), ('Sci Fi & Fantasy',), ('Drama',), ('Comedy',), ('Alternative',), ('Classical',), ('Opera',)]

3. List the genre names ordered by name.

In [10]:
pd.read_sql('SELECT * FROM genres ORDER BY Name', conn)

    GenreId                Name
0        23         Alternative
1         4  Alternative & Punk
2         6               Blues
3        11          Bossa Nova
4        24           Classical
5        22              Comedy
6        21               Drama
7        12      Easy Listening
8        15   Electronica/Dance
9        13         Heavy Metal
10       17         Hip Hop/Rap
11        2                Jazz
12        7               Latin
13        3               Metal
14       25               Opera
15        9                 Pop
16       14            R&B/Soul
17        8              Reggae
18        1                Rock
19        5       Rock And Roll
20       20    Sci Fi & Fantasy
21       18     Science Fiction
22       10          Soundtrack
23       19            TV Shows
24       16               World

List the genre entries with IDs between 13 and 17.

In [12]:
c.execute('SELECT * FROM genres WHERE GenreId BETWEEN 13 and 17')
print(c.fetchall())

[(13, 'Heavy Metal'), (14, 'R&B/Soul'), (15, 'Electronica/Dance'), (16, 'World'), (17, 'Hip Hop/Rap')]

5. List the genre entries that start with an S.

In [14]:
c.execute('SELECT * FROM genres WHERE Name LIKE "S%"')
print(c.fetchall())

[(10, 'Soundtrack'), (18, 'Science Fiction'), (20, 'Sci Fi & Fantasy')]

6. List the entries of Rock, Jazz, and Reggae (in one query).

In [16]:
c.execute('SELECT * FROM genres WHERE Name IN ("Rock", "Jazz", "Reggae")')
print(c.fetchall())

[(1, 'Rock'), (2, 'Jazz'), (8, 'Reggae')]

## Exercise 2: Joining

1. Create a table that contains track names, genre name and genre ID for each track. Hint: the table is sorted by genres, look at the tail of the dataframe to make sure it works correctly.
2. Create a table that contains the counts of tracks in a genre by using the GenreID.
3. Create a table that contains the genre name and the count of tracks in that genre.
4. Sort the previous table by the count. Which are the biggest genres? Hint: the DESC keyword can be added at the end of the sorting expression.

In [22]:
pd.read_sql("""SELECT
 tracks.name as Track,
 genres.name as Genre
FROM
 tracks
INNER JOIN genres ON genres.genreid = tracks.genreid""", conn).tail(40)

                                                  Track      Genre
3463              Das Lied Von Der Erde, Von Der Jugend  Classical
3464  Concerto for Cello and Orchestra in E minor, O...  Classical
3465  Two Fanfares for Orchestra: II. Short Ride in ...  Classical
3466  Wellington's Victory or the Battle Symphony, O...  Classical
3467                        Missa Papae Marcelli: Kyrie  Classical
3468   Romeo et Juliette: No. 11 - Danse des Chevaliers  Classical
3469                       On the Beautiful Blue Danube  Classical
3470  Symphonie Fantastique, Op. 14: V. Songe d'une ...  Classical
3471                                   Carmen: Overture  Classical
3472  Lamentations of Jeremiah, First Set \ Incipit ...  Classical
3473  Music for the Royal Fireworks, HWV351 (1749): ...  Classical
3474       Peer Gynt Suite No.1, Op.46: 1. Morning Mood  Classical
3475       SCRIABIN: Prelude in B Major, Op. 11, No. 11  Classical
3476                          Pavan, Lachrimae Antiquae  Classical
3477  Symphony No. 41 in C Major, K. 551, "Jupiter":...  Classical
3478                        Prometheus Overture, Op. 43  Classical
3479                 Sonata for Solo Violin: IV: Presto  Classical
3480  A Midsummer Night's Dream, Op.61 Incidental Mu...  Classical
3481    Suite No. 3 in D, BWV 1068: III. Gavotte I & II  Classical
3482  Concert pour 4 Parties de V**les, H. 545: I. P...  Classical
3483                                       Adios nonino  Classical
3484  Symphony No. 3 Op. 36 for Orchestra and Sopran...  Classical
3485                                   Act IV, Symphony  Classical
3486  3 Gymnopédies: No.1 - Lent Et Grave, No.3 - Le...  Classical
3487  Music for the Funeral of Queen Mary: VI. "Thou...  Classical
3488                Symphony No. 2: III. Allegro vivace  Classical
3489          Partita in E Major, BWV 1006A: I. Prelude  Classical
3490         Le Sacre Du Printemps: I.iv. Spring Rounds  Classical
3491                                      Sing Joyfully  Classical
3492                           Metopes, Op. 29: Calypso  Classical
3493  Symphony No. 2, Op. 16 -  "The Four Temperamen...  Classical
3494  24 Caprices, Op. 1, No. 24, for Solo Violin, i...  Classical
3495    Étude 1, In C Major - Preludio (Presto) - Liszt  Classical
3496                                    Erlkonig, D.328  Classical
3497  Concerto for Violin, Strings and Continuo in G...  Classical
3498  Pini Di Roma (Pinien Von Rom) \ I Pini Della V...  Classical
3499  String Quartet No. 12 in C Minor, D. 703 "Quar...  Classical
3500               L'orfeo, Act 3, Sinfonia (Orchestra)  Classical
3501  Quintet for Horn, Violin, 2 Violas, and Cello ...  Classical
3502  Die Zauberflöte, K.620: "Der Hölle Rache Kocht...      Opera

2. Create a table that contains the counts of tracks in a genre by using the GenreID.

In [34]:
pd.read_sql("""SELECT
 genreid,
 COUNT(trackid) as '# Tracks'
FROM
 tracks
GROUP BY
 genreid;""", conn).head()

   GenreId  # Tracks
0        1      1297
1        2       130
2        3       374
3        4       332
4        5        12

3. Create a table that contains the genre name and the count of tracks in that genre

In [44]:
pd.read_sql("""SELECT
 genres.name as Genre,
 COUNT(tracks.trackid) as NrTracks
FROM
 tracks
INNER JOIN genres ON genres.genreid = tracks.genreid
GROUP BY
 tracks.genreid""", conn).head(30)

                 Genre  NrTracks
0                 Rock      1297
1                 Jazz       130
2                Metal       374
3   Alternative & Punk       332
4        Rock And Roll        12
5                Blues        81
6                Latin       579
7               Reggae        58
8                  Pop        48
9           Soundtrack        43
10          Bossa Nova        15
11      Easy Listening        24
12         Heavy Metal        28
13            R&B/Soul        61
14   Electronica/Dance        30
15               World        28
16         Hip Hop/Rap        35
17     Science Fiction        13
18            TV Shows        93
19    Sci Fi & Fantasy        26
20               Drama        64
21              Comedy        17
22         Alternative        40
23           Classical        74
24               Opera         1

4. Sort the previous table by the count. Which are the biggest genres?

In [47]:
pd.read_sql("""SELECT
 genres.name as Genre,
 COUNT(tracks.trackid) as NrTracks
FROM
 tracks
INNER JOIN genres ON genres.genreid = tracks.genreid
GROUP BY
 tracks.genreid
 ORDER BY NrTracks""", conn).head(30)

                 Genre  NrTracks
0                Opera         1
1        Rock And Roll        12
2      Science Fiction        13
3           Bossa Nova        15
4               Comedy        17
5       Easy Listening        24
6     Sci Fi & Fantasy        26
7          Heavy Metal        28
8                World        28
9    Electronica/Dance        30
10         Hip Hop/Rap        35
11         Alternative        40
12          Soundtrack        43
13                 Pop        48
14              Reggae        58
15            R&B/Soul        61
16               Drama        64
17           Classical        74
18               Blues        81
19            TV Shows        93
20                Jazz       130
21  Alternative & Punk       332
22               Metal       374
23               Latin       579
24                Rock      1297